<form (ngSubmit)="sendInfo(ngForm)" #contactFormRef="ngForm">
  <div class="form-group col-mid-4">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="John Smith"
      [(ngModel)]="contactFormRef.value.contactName"
      required
    />
  </div>
  <div>
    <label for="email">Email:</label>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="john@test.com"
      [(ngModel)]="contactFormRef.value.contactEmail"
      required
    />
  </div>
  <div>
    <label for="phone">Contact Number:</label>
    <input
      type="tel"
      id="phone"
      name="phone"
      placeholder="123-456-7890"
      [(ngModel)]="contactFormRef.value.contactPhone"
      required
    />
  </div>
  <div>
    <label for="date">Date of Event:</label>
    <input
      type="date"
      id="date"
      name="date"
      [(ngModel)]="contactFormRef.value.eventDate"
      required
    />
  </div>
</form>
