<body>
  <div>
    <ul>
      <li>
        <button class="page-tag carousel" (click)="onRouteSelect('wedding')">
          Wedding
        </button>
      </li>

      <li>
        <button class="page-tag carousel" (click)="onRouteSelect('sweet16')">
          Sweet 16
        </button>
      </li>

      <li>
        <button class="page-tag carousel" (click)="onRouteSelect('pageant')">
          Pageant
        </button>
      </li>

      <li>
        <button class="page-tag carousel" (click)="onRouteSelect('party')">
          Themed Party
        </button>
      </li>
    </ul>
  </div>
  <div class="line"></div>
</body>
