.page-tag {
  border: none;
  cursor: pointer;
  color: goldenrod;
  background-color: black;
}

/* .line {
  position: absolute;
  height: 600px;
  width: 600px;
  border: 1px solid goldenrod;
  border-radius: 100%;
} */
