<h1 class="welcome">Welcome to A-Sharp Entertainment!</h1>
<h4>Please select what service you are looking for below</h4>

<body>
  <div>
    <ul>
      <li class="page-tag">
        <a class="" (click)="onRouteSelect('wedding')"> Wedding </a>
      </li>

      <li class="page-tag">
        <a  (click)="onRouteSelect('sweet16')"> Sweet 16 </a>
      </li>

      <li class="page-tag">
        <a  (click)="onRouteSelect('pageant')"> Pageant </a>
      </li>

      <li class="page-tag">
        <a  (click)="onRouteSelect('party')"> Themed Party </a>
      </li>
    </ul>
  </div>
  <div class="line"></div>
  <div class="nav-dot"></div>
</body>
