.page-tag {
  border: none;
  cursor: pointer;
  color: goldenrod;
  background-color: black;
}

/* .line {
  position: absolute;
  height: 600px;
  width: 600px;
  border: 1px solid goldenrod;
  border-radius: 100%;
} */

.nav-dot{
  height: 10px;
  width: 10px;
  background-color: goldenrod;
  position: absolute;
  border-radius: 100%;
  right: -5px;
  top: 50%;
  will-change: transform,-webkit-transform;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
