<body>
  <div>
    <ul>
      <li class="page-tag carousel">
        <a class="" (click)="onRouteSelect('wedding')"> Wedding </a>
      </li>

      <li>
        <a class="" (click)="onRouteSelect('sweet16')"> Sweet 16 </a>
      </li>

      <li>
        <a class="" (click)="onRouteSelect('pageant')"> Pageant </a>
      </li>

      <li>
        <a class="" (click)="onRouteSelect('party')"> Themed Party </a>
      </li>
    </ul>
  </div>
  <div class="line"></div>
  <div class="nav-dot"></div>
</body>
